doctype html
html(lang="en")
  head
    block styles
      style 
        include ../public/styles.css
	
    title= "Restaurnt Reservation"
  body
    h1 Place a reservation Web Server
  

    block content

  block footer
   
      a(href='/') Home
      |
      |
      a(href='/makeRes') Make
      |
      |
      a(href='/manageRes') Manage Reservation 

