extends layout
block content
  head
    block styles
      style 
        include ../public/styles.css
	
   
  body
    h1 What would you like to do?
  

    block content

  block footer
   
      a(href='/Delete') Delete
      |
      |
      a(href='/view') View

