extends layout
block content
 body
  h2 Search for A Reservation
  form(method="post")
   |Email
   input(name="email")
   br
   input(type="submit" value="Search!")
   |
   input(type="reset" value="Clear!")
  if results 
   h3 Email Search Results for #{email}
   ul
    each val in results
     li= val
     
  

//-
//-    Typed by Jose De Carvalho and CJ Lamonica
//- Credit: https://github.com/ProfJake/Final_Version_Act_Server/blob/master/express_act_serv/views/search.pug